# Ignore Mac system files
.DS_store
.idea/


# Ignore files related to API keys
/config/.env

# Ignore files temp debug files
/src/temp.py

# Ignore files related to the Alembic database migrations
/alembic/
alembic.ini