requests
python-telegram-bot>=22.5
psycopg2-binary
configparser
openai>=2.0.0
numpy
sqlalchemy
alembic
langdetect
pytz
pgvector
scikit-learn
python-dotenv[cli]
pytest
pytest-asyncio
python-telegram-bot[rate-limiter]
aiohttp
telethon
sentry_sdk
sentry-sdk[profiling]
python-telegram-bot[job-queue]
aiohttpxgboost==3.1.2
